body {
    margin: 0px;
    border: 0px;
    padding: 0px; 
    background-color: black; 



}

.card {
    background-color: white;
    font-family: 'Open Sans', sans-serif;  
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px; 
    width: 450px;
    
}

.cardHeader {
    margin: 0px; 
}

.fa-html5 {
    position: absolute; 
    margin-top: 17px; 
    margin-left: 10px; 
    margin-bottom: 15px; 
    color: black;


}

.fa-ellipsis-v {
    position: relative;
    float: right; 
    margin-top: 20px;
    margin-right: 10px; 
    margin-bottom: 20px;
}

.cardHeader h4 {
    float: left;
    display: inline-block;
    bottom: 10px;
    padding-left: 10px;
    margin-left: 30px; 
}

.cardHeader p {
    position: absolute;
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    font-size: small;

}

.photo {
    margin-top: 0px;
}


img {
    width: 100%;    
    
}

.fa-heart {
    margin: 5px; 
}

.fa-comment {
    margin: 5px; 
}

.fa-paper-plane {
    margin: 5px;
}

.fa-bookmark {
    float: right;
    margin: 5px;

}

.cardFooter {
    margin: 0em;
}

.textFooter {
    padding: 10px;
    margin-top: 5px ;
    padding-top: 5px;
     
}

.likes {
    padding: 10px;
    padding-bottom: 5px;
}